body{
width: 100%;
    padding :40px;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.confession-area{
    background-color: white;
    -webkit-box-shadow: 10px 10px 300px 50px rgba(255,255,255,1);
-moz-box-shadow: 10px 10px 300px 50px rgba(255,255,255,1);
box-shadow: 10px 10px 300px 50px rgba(255,255,255,1);
  padding-top: 15px;
  z-index:0;

}

header{margin-bottom: 20px;}

.reply{
    
    width :90%;
  padding-left: 15%;
}
.contents{
 
}
.content{
    padding-bottom: 60px;

}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 280px;
}

/* The popup form - hidden by default */

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 73%;
  background-color: white;
}
#confess-input{
  width: 100%;
}
#reply-input{
  width: 100%;
}
/* Add styles to the form container */
.form-container {
  width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin:10px;
  opacity: 0.8;
  
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.reply-input{
  margin:10px; 
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}