<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link type="text/css" rel="stylesheet" href="css/normalize.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div>
<table  border="1" id=box1>
	<tr>
		<th>Confession#1</th>
	</tr>
	<tr>
		<td> Nội dung CFS 1 Click on the button at the bottom of this page to open the login form.

Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window.Click on the button at the bottom of this page to open the login form.

Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window.Click on the button at the bottom of this page to open the login form.

Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window.Click on the button at the bottom of this page to open the login form.

Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window. </td></tr>
		<tr><td><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

<script>
function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
}
</script></td>
<td><button class="open-button" onclick="openForm()">Reply</button>

<div class="form-popup" id="myForm">
  <form action="######" class="form-container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script></td>
</table>
</div>

<table border="1" id=box2>
	<tr>
		<th>Confession#2</th>
	</tr>
	<tr>
		<td> Nội dung CFS 2 </td>
	</tr>
</table>
<table border="1" id=box3>
	<tr>
		<th>Confession#3</th>
	</tr>
	<tr>
		<td> Nội dung CFS 3</td>
	</tr>
</table>
<table border="1" id=box4>
	<tr>
		<th>Confession#4</th>
	</tr>
	<tr>
		<td> Nội dung CFS 4</td>
	</tr>
</table>
<table border="1" id=box4>
	<tr>
		<th>Confession#5</th>
	</tr>
	<tr>
		<td> Nội dung CFS 5</td>
	</tr>
</table>

</body>


</html>