<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confession WEB</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="row">
            <img src="img/vtilogo.png" height="200" class=" col-sm-3 d-none d-sm-block">
            <img src="img/vti1.jpg" height="200" class="col-sm-8">
        </div>
    </header>


    <div class="main container-fluid row">

        <div class="col-sm-3 d-none d-sm-block">
            <img src="img/vtilogo1.jpg">
        </div>


        <div class="confession col-sm-9">


            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                       
                </div>
            </div>



</body>

</html>