<!DOCTYPE>
<!DOCTYPE html>
<html>
<head> 
	<title>VTI Confession</title>
	<meta charset="utf-8"/>
	<meta name="description" content="VTI Confession">
	<meta name="author" content="VTI">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link type="text/css" rel="stylesheet" href="css/normalize.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
</head>

<body>
<div class="container"> 	
		<span id="logo"><img  src="img/vtilogo.jpg" width="15%" height="25%"  /></span><!--logo-->
		<span id="title"><img  src="img/vti1.jpg"width="50%" height="25%"   /></span> <!--title-->
	</div>

<div id=logoleft>
	<span><img src="img/vtilogo1.jpg"/></span><!--sloganleft-->
	<span><iframe src="mess1.html" width="70%" height="74%"></iframe></span><!--nội dung các box mess-->
</div> 


<form action="######" method="post">	

<div id=cfs>
	<form >
	Nội dung Confession:<br>
	<TEXTAREA NAME="RESULT_TextArea-8" ROWS="7" COLS="100"></TEXTAREA>
	<p><input type="submit" name="Submit" value="Submit"></p>
	<p><INPUT TYPE="RESET" NAME="Reset" VALUE="Reset"></p>
	
</form>
</div>

	
		<div id="footer">
			<p>Copyright &copy; 2020 - VTI Confession WEB</p>
		</div><!--chân web-->

</body>
</html>